[submodule "Atividades01-ManipulacaoVariavel"]
	path = Atividades01-ManipulacaoVariavel
	url = https://github.com/joaot1/Atividades01-ManipulacaoVariavel.git
[submodule "AprendendoCondicoesjava"]
	path = AprendendoCondicoesjava
	url = https://github.com/joaot1/AprendendoCondicoesjava.git
[submodule "Atividade02_Condicoes"]
	path = Atividade02_Condicoes
	url = https://github.com/joaot1/Atividade02_Condicoes.git
[submodule "Atividade03"]
	path = Atividade03
	url = https://github.com/joaot1/Atividade03.git
[submodule "laco_De_Repeticao"]
	path = laco_De_Repeticao
	url = https://github.com/joaot1/laco_De_Repeticao.git
[submodule "Atividade05_Laco_De_Repeticao"]
	path = Atividade05_Laco_De_Repeticao
	url = https://github.com/joaot1/Atividade05_Laco_De_Repeticao.git
[submodule "provaUnipar"]
	path = provaUnipar
	url = https://github.com/joaot1/provaUnipar.git
[submodule "MiniChatbot"]
	path = MiniChatbot
	url = https://github.com/joaot1/MiniChatbot.git
[submodule "CarteiraDigital"]
	path = CarteiraDigital
	url = https://github.com/joaot1/CarteiraDigital.git
[submodule "Atividade01"]
	path = Atividade01
	url = https://github.com/joaot1/Atividade01.git
[submodule "Atividade03_Swing"]
	path = Atividade03_Swing
	url = https://github.com/joaot1/Atividade03_Swing.git
[submodule "provaUnipar2b"]
	path = provaUnipar2b
	url = https://github.com/joaot1/provaUnipar2b.git
